/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Roboto', sans-serif;  (PRINCIPAL)*/
/* font-family: 'Lugrasimo', cursive; */

* {
    margin: 0;
    padding: 0;
}


body {
    
   
   font-family: 'Roboto', sans-serif;
    
}

.cnt {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
}


.cc {
    margin-right: 1450px;
}


header.cnt {
    width: 100%;
}



.navegacion {
    display: flex;
    justify-content: space-between;
    width: 100vw; /* Cambiar a 100vw (viewport width) */
    height: 90px;
    align-items: center;
    padding: 20px;
    background-color: black;

}



.navegacion :hover {
    background-color: rgb(49, 47, 47);
    color: blueviolet;
}



li a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    padding: 25px;
}




@media (max-width: 768px) {
    .navegacion {
        flex-direction: column;
        height: auto;
    }

    li {
        text-align: center;
    }

    li a {
        font-size: 24px;
        padding: 15px;
    }
}







.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/black-purple-gradient-linear-2560x1440-c2-000000-800080-a-300-f-14.jpg);
    height: 700px;
    background-size: cover;
}

.tp2 {
    text-align: center;
    color: white;
    font-size: 75px;
    /* margin: 25px; */

}

.p1 {
    margin-top: 15px;
    color: white;
    font-size: 35px;
    padding: 25px;
    text-align: center;
}






.mas_informacion {
   width: 100%;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 25px;
}







.m1 {
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.mas_informacion :hover {
    background: white;
    color: black;
}


.s2 {
    background: rgba(0, 0, 0, 0.897);
}



.profe {
    display: flex;
    justify-content: space-around;
    margin: 50px;

}


.tutor {
    border-radius: 10px;
    width: 400px;
    border: 4px solid black;
}



/* Esto tengo que completar */
.info_profe {
    display: flex;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    margin: 25px;
    margin-right: 50px;
}


.iconos {
    /* margin-top: 75px; */
    margin: 75px;
    width: 250px;
    
}

.icon-conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
   
}

.caja {
    width: 100%;
    background: black;
    margin: 25px;
    border-radius: 2rem;
}



.t4 {
    color: aliceblue;
    text-align: center;
    
   
}



.cn2 {
    display: flex; 
    align-items: center; 
    justify-content: center;
}


.img {
    width: 950px;
    border-radius: 25px;
    border: 3px solid black;
}

.p3 {
    font-size: 35px;
    max-width: 1000px;
    margin-left: 75px;
    border-left: 4px solid black;
    padding-left: 10px;
}

.tp4 {
    margin-top: 35px;
    font-size: 45px;
    margin-left: 100px;
    margin-bottom: 20px;
    background: violet;
    max-width: 500px;
    
}



 .img3, .img4 {
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 4px solid black;
}



.p5 {
    border-top: 4px solid black;
    font-size: 30px;
    margin: 35px;
    max-width: 800px;
}



.s4 {
    margin-top: 30px;
    background: rgba(231, 231, 231, 0.493);
    padding: 35px;
}

.costo-titulo {
    margin-left: 25px;
    font-size: 60px;
    color: rgb(77, 75, 75);
   
    
}





.Aplica {
    /* margin-top: 45px; */
    background: rgba(0, 0, 0, 0.863);
    padding: 25px;


}




.text-aplica {
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Lugrasimo', cursive;
   
}

.s3 {
    margin-top: 45px;
}

/* pie de pagina */

.pie-pagina {
    background-color: #f5f5f5; 
    padding: 20px;
}

.cn3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}

.p4 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pie-titulo {
    font-size: 60px;

}


.red1 {
    width: 75px;
    margin: 15px;
}



/* El logo que esta en el pie de pagina se que tiene un error de gramatica, cuando tenga mas tiempo lo vuelvo a editar para corregirlo */




/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* body{
    background: rgb(222,1,172);
    background: linear-gradient(180deg, rgba(222,1,172,1) 0%, rgba(94,9,90,1) 47%, rgba(64,1,56,1) 100%);
    background-repeat: no-repeat;
    width:100%;
    height: 5000px;
}
 */


  .Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: rgba(225, 224, 226, 0.226);
    width: 500px;
    margin-top: 100px;
    margin-left: 850px;
    border-radius: 30px;
    box-shadow: 0 0 20px  rgb(209, 208, 208);
}


.l1 {
    font-size: 18px;
    color: rgb(160, 160, 160);
}

input {
    color: rgb(80, 78, 78);
    border: 0;
    border-radius: 15px;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 0 20px  rgb(212, 212, 212);
}



.Form {
    position: relative;
}

.icon-register {
    width: 40px;
    position: absolute;
    right: 280px;
   
}

.icon-register {
    width: 30px;
}

.Aplicar-boton {
    padding: 5px;
    width: 55%;
    color: black;
    box-shadow: 0 0 20px rgb(155, 154, 154);
}


.Aplicar-boton:hover { 
   color: white;
   background: rgb(222,1,202);
   background: linear-gradient(273deg, rgba(222,1,202,1) 0%, rgba(0,30,251,1) 47%, rgba(255,5,241,1) 100%);
   }

   .Registro-Inicio {
    background: rgb(151, 210, 250);
    text-align: center;
   }

   .Registro-Inicio-P {
    padding: 20px;
    color: rgb(78, 78, 78);
   }

   .Registro-Inicio-titulo {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 50px;
   }




   @media (max-width: 1370px) {
    .Formulario {
        
        max-width: 90%; 
        margin: auto; 
        margin-top: 50px;
    }
    
    .Form {
        
      flex-direction: column; 
      align-items: flex-start; 
      margin-bottom: 15px; 
    }
    
    .icon-register {
      margin-right: 0; 
      margin-bottom: 5px; 
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
      width: 100%;
    }
    
    .Aplicar-boton {
      width: 40%; 
    }
  }




 /*  ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

 .Titulo-Cursos {
  text-align: center;
  padding: 20px;
  background: rgb(245, 133, 133);
  
}

.Titulo-Cursos-h2 {
  color: white;
  font-size: 40px;
}

.Titulo-Cursos-p {
  
  padding: 20px;
}


.Curso-sub {
  display: inline-block;
}

.container-cursos {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 50px;
 }

.Curso-sub-p {
  text-align: center; /* Centrar el texto en horizontal */
  max-width: 500px;
}

.Curso-sub-t {
  text-align: center;
  margin-top: 10px;
}

.Curso-sub-img {
  width: 300px;
  height: 300px;

}

.Curso-sub-boton {
  background-color: #67acda; 
  color: rgb(255, 255, 255); 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
}

.Curso-sub-boton:hover {
  background: rgb(231, 158, 158);
  color: rgb(0, 0, 0);
  font-weight: bold;

}

.Curso-sub-boton:active {
  background: rgb(117, 221, 117);
}

.Curso-preguntas-info {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Cursos-preguntas-fondo {
  margin-top: 80px;
  padding: 10px;
  background: rgb(238, 238, 238);
}

.Curso-preguntas-img {
  width: 900px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #020202;
}

.Curso-preguntas-info-li {
  margin-bottom: 15px;
  max-width: 950px;
  font-size: 20px;
}


.Curso-preguntas-info-h2 {
  font-size: 50px;
}

.Informacion-Extra-Conteiner {
  display: flex;
}


.Informacion-Extra-Logo {
  width: 600px;
}


.Informacion-Extra-Fondo {
  margin-top: 50px;
  padding: 30px;
  background: rgb(247, 146, 146);
}

.Informacion-Extra-li {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}




















@media (max-width: 768px) {
    .Titulo-Cursos {
        text-align: center;
    }

    .Titulo-Cursos-h2 {
        font-size: 24px; 
    }

    .Titulo-Cursos-p {
        font-size: 16px;
    }


    .container-cursos {
        padding: 10px;
    }

    





.container-cursos {
        flex-direction: column; /* Cambiar a direcci칩n vertical */
        align-items: center; /* Centrar horizontalmente */
    }

    .Curso-sub {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;
        max-width: 400px; 
    }




    .Curso-sub-t {
        font-size: 20px;
        margin-top: 20px;
    }

    .Curso-preguntas-info {
        flex-direction: column;
        text-align: center;
    }

    .Curso-preguntas-img {
        margin: 10px auto;
        max-width: 100%;
    }


    .Curso-sub-img {
        margin-top: 25px;
        width: 250px;
    }






    


    .Curso-preguntas-info-h2 {
        font-size: 20px; /* Reducci칩n del tama침o de fuente */
    }

    .Curso-preguntas-info-li {
        font-size: 16px;
    }

    .Informacion-Extra-Conteiner {
        text-align: center;
    }

    .Informacion-Extra-Logo {
        margin: 10px auto;
        max-width: 100%;
    }

    .Informacion-Extra-li {
        font-size: 12px;
    }
    .Informacion-Extra-Conteiner {
        flex-direction: column; /* Cambiar a direcci칩n vertical */
        text-align: center;
    }

    .Informacion-Extra-Logo {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .Informacion-Extra-Text {
        width: 100%;
    }

    .Curso-preguntas-info-h2 {
        font-size: 28px;
    }

    .Informacion-Extra-li {
        font-size: 16px;
    }
}



